html {
  font: time new roman;
}

body {
  margin: 0;
}

.top {
  background-image: url("../img/pattern.png");
  background-position: center;
  background-color: cornflowerblue;
  background-size: 60%;
}

#logo {
  height: 80px;
}

table {
  text-align: left;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: rgb(126, 236, 255);
}

th {
  color: white;
  background-color: rgb(56, 142, 255);
}

.text-white {
  position: absolute;
  color: white;
}

h1 {
  font-size: 38;
}

time {
  color: gray;
}

.text-lightblue {
  color: lightskyblue;
}

.text-yellow {
  background-color: yellow;
}
